@import "colors";

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  @each $label, $value in $theme-colors {
    &-#{$label} {
      @if lightness($value) < 54% {
        color: #ffffff;
      } @else {
        color: #000000;
      }
      background-color: $value;
    }
  }
}